---
# MIT License
#
# Copyright (c) 2022 FABRIC Testbed
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
#
# Author: Liang Zhang (lzhang9@es.net)
# /tasks/create-router.yml
#

- name: Construct request data
  set_fact:
    create_router_request: '{"virtualSpaceId": "{{ virtual_space_id }}", "notes": ""}'

#- name: Print create router request
#  debug:
#    msg: "{{ create_router_request | to_nice_json }}"

- name: Create a virtual router
  ansible.builtin.uri:
    url: "{{ base_url }}/v1/virtualnetworks/routers"
    headers:
      Accept: application/json
      Authorization: "{{ bearer_token }}"
      content-type: application/json
    body: "{{ create_router_request | to_nice_json }}"
    status_code: [200, 303]
    method: POST
    follow_redirects: true
    validate_certs: no
  register: create_router_response
  
#- name: Print create router response
#  debug:
#    msg: "{{ create_router_response }}"
    
- name: Save virtual router id
  set_fact:
    virtual_router_id: "{{ create_router_response.json.virtualRouterId }}"

- name: Print virtual router id
  debug:
    msg: "{{ virtual_router_id }}"
