services:
  p4_container:
    image: nrigservice/tofino-sde:1.8.0
    container_name: p4_container
    volumes:
      - /usr/src:/usr/src
      - /lib/modules:/lib/modules
      - /home/fabric/work:/root/work  # Users can put the work in this directory which would be accessible from host as well as container.
    devices:
      - /dev/bf0:/dev/bf0
    privileged: true  # Required to allow the container to access kernel-related files
    network_mode: host
    restart: always
