--- 
# /tasks/main.yml
#

- name: Create file to add device
  template:
    src: device.j2
    dest: /tmp/{{ device }}.yml
    mode: 0600
  when: mac is not defined

- name: Create file to add device
  template:
    src: device_with_mac.j2
    dest: /tmp/{{ device }}.yml
    mode: 0600
  when: mac is defined

- name: Add PCI Card to VM
  ansible.builtin.shell: 
    virsh attach-device {{ kvmguest_name }} /tmp/{{ device }}.yml --live --config
  when: pci_prov_op == 'attach'

- name: Get PCI Device Number from the Host
  ansible.builtin.shell:
    lspci -n | grep {{ bdf }} | awk '{print $3}'
  when: pci_prov_op == 'attach'
  register: pci_device_number

- name: Print return information from the previous task
  ansible.builtin.debug:
    var: result
    verbosity: 2
  when: pci_prov_op == 'attach'

- name: Remove PCI Card to VM
  ansible.builtin.shell: 
    virsh detach-device {{ kvmguest_name }} /tmp/{{ device }}.yml --live --config
  when: pci_prov_op == 'detach'

- name: Delete file
  file:
    path: /tmp/{{ device }}.yml
    state: absent
